/* inicio de slider ---------------------------------*/
.slider-b-1{
	background-image: url(../img/CocineroDeTodasLasAreas.jpg);
	background-color: rgba(0, 0, 0, 0.23);
	background-blend-mode: soft-light;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
	transform: translateZ(-1px) scale(1.2);
	width: 91vw;
}
.slider-b-2{
	background-image: url(../img/SalonEntrada1.jpg);
	background-color: rgba(0, 0, 0, 0.23);
	background-blend-mode: soft-light;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	transform: translateZ(-1px) scale(1.2);
	width: 91vw;
}
.slider-b-3{
	background-image: url(../img/Tacu-Tacu-Con-Lomo-Saltado.jpg);
	background-color: rgba(0, 0, 0, 0.23);
	background-blend-mode: soft-light;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	transform: translateZ(-1px) scale(1.2);
	width: 91vw;
}
.previus-next{
	position: absolute;
	z-index: 2;
}
/* fin de slider ------------------------------------*/

/* inicio de nuevo ----------------------------------*/
.nuevo{
	width: 2.5rem; /* 40px 1rem=16px */
	height: 2.5rem; /* 40px 1rem=16px */
	opacity: 0.8;
	transition: all 0.5s ease;
}
.nuevo:hover{
	opacity: 1;
}
/* fin de nuevo -----------------------------------*/

/* inicio de font-family para el articulo ---------*/
.ff{
	font-family: Segoe UI;
	font-size: 1rem; /* 16px 1rem=16px */
}
/* fin de font-family para el articulo ------------*/